@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", "sans-serif";
}

body {
  overflow-y: hidden;
}

.form {
  border: 1px solid grey;
  border-radius: 5px;

  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

/* MODAL */

.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 800px;
  height: 360px;

  background-color: rgb(253, 253, 253);
  padding: 10px;

  border-radius: 25px;

  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
}

.modal h1 {
  font-size: 24px;
  font-weight: 700;
}

.modal button {
  position: inherit;
  left: 95%;
  top: 2%;

  border: 1px solid black;
  border-radius: 25px;

  padding: 2px 9px;
}

/* PROFILE TABLE */

.table-container {
  margin: auto;

  width: 800px;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

.table-scroll::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.table-scroll::-webkit-scrollbar-track {
  /* background: #f1f1f1; Track color */
  background: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
  /* background: #cccccc; Thumb color */
  background: transparent;
  border-radius: 10px; /* Round edges */
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #929292; /* Thumb color on hover */
  transition: all 1s;
}

.table-container table {
  margin: auto;
  width: 700px;
}

.width800 {
  width: 700px;
}

.dropdown {
  /* float: left; */
  overflow: hidden;
}

.dropdown-container {
  display: none;
  position: absolute;
  width: 100px;
  left: 180px;
  top: 45px;
  background-color: white;
  color: black;

  text-align: center;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  display: block;
}

.dropdown:hover .dropdown-container {
  display: block;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 60%;
  animation: l9 1s infinite;
}
@keyframes l9 {
  33% {
    background-position: 0% 0%, 50% 100%, 100% 0%;
  }
  66% {
    background-position: 0% 100%, 50% 0%, 100% 100%;
  }
}
