@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  border: 1px solid grey;
  border-radius: 5px;

  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
